  <?xml version="1.0"?>
  <model>
    <name>Thorvald</name>
    <version>1.0</version>
    <sdf>urdf/thorvald_urdf.urdf</sdf>
    <author>
      <name>Venkatesh</name>
      <email>venkatesh@email.address</email>
    </author>
    <description>
      A description of the model
    </description>
  </model>
