<launch>

    <!--<arg name="model" default="$(find thorvald_description)/urdf/thorvald_urdf.urdf"/>-->
    <arg name="urdf_file" default="$(find xacro)/xacro '$(find thorvald_description)/urdf/thorvald_urdf.urdf.xacro'"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="use_sim_time" value="true"/>
    <!--<arg name="world_name" value="$(find thorvald_gazebo)/worlds/desk.world"/>-->
    <!-- more default parameters can be changed here -->
  </include>

    <!--<param name="thorvald_description" command="$(find xacro)/xacro $(arg model)" />-->

  <include file="$(find thorvald_description)/launch/description.launch">
    </include>
    
  <!-- push thorvald_description to factory and spawn robot in gazebo -->
  <!--The -param thorvald_description is not present here but in the description.launch file which is called before this node. Hence, no error is thrown-->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model thorvald -param thorvald_description" respawn="false" output="screen" />    
  
</launch>
